{% extends "layout.html" %}

{% block content %}
  <article class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

          <h1 class="text-center mb-4">Registro</h1>

          <div class="card shadow-lg">

            <div class="card-body p-5">
              <form method="POST" action="{{ url_for('auth.register')}}">
                {{ form.csrf_token }}
                  <div class="mb-3">
                    {{ form.firstName.label(class="form-label") }}
                    {{ form.firstName(class="form-control") }}
                  </div>
                  <div class="mb-3">
                    {{ form.lastName.label(class="form-label") }}
                    {{ form.lastName(class="form-control") }}
                  </div>
                  <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", autofocus=True) }}
                  </div>
                  <button type="submit" class="btn btn-primary w-100">
                   Registrarse
                  </button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
