<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Error Page</title>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>

  <body>
    <section class="d-flex align-items-center justify-content-center vh-100">
      <article class="text-center">
        <h1 class="display-1 fw-bold">{{ error_name }}</h1>

        <p class="fs-3"><span class="text-danger">{{ error_description }}</span></p>
        <a href={{ url_for('home') }} class="btn btn-primary">Ir a Home</a>
      </article>
    </section>
  </body>
</html>